<div class="cv-background">
  <div class="container">
    <div class="section">
      <!-- Biography -->
      <div class="row">
        <div class="col s6 m5">
          <h5 class="right">Biography</h5>
        </div>
        <div class="col s6 m7">
          <div class="icon-block cv-list">
            <p class="light">{{person.firstname}} {{person.lastname}}</p>
            <p class="light">{{person.birtdate}}</p>
            <p class="light">{{person.email}}</p>
            <p class="light">{{person.address.0.city}} {{person.address.0.country}}</p>
          </div>
        </div>
      </div>

      <!-- Experience -->
      <div class="row">
        <div class="col s6 m5">
          <h5 class="right">Experience</h5>
        </div>
        <div class="col s6 m7">
          <div class="icon-block cv-list">
            {{#each person.experience}}
            <p class="light" style="font-weight: bold;">{{this.employer}}</p>
            <p class="light">{{this.title}}</p>
            <p class="light">{{this.startdate}} - {{this.enddate}}</p>
            <br>
            {{/each}}
          </div>
        </div>
      </div>

      <!-- Education -->
      <div class="row">
        <div class="col s6 m5">
          <h5 class="right">Education</h5>
        </div>
        <div class="col s6 m7">
          <div class="icon-block cv-list">
            {{#each person.education}}
            <p class="light" style="font-weight: bold;">{{this.school}}</p>
            <p class="light">{{this.program}}</p>
            <p class="light">{{this.degree}}</p>
            <p class="light">{{this.startdate}} - {{this.graduated}}</p>
            <br>
            {{/each}}
          </div>
        </div>
      </div>

      <!-- Qualifications -->
      <div class="row">
        <div class="col s6 m5">
          <h5 class="right">Qualifications</h5>
        </div>
        <div class="col s6 m7">
          <div class="icon-block cv-list">
            {{#each person.qualifications}}
            <p class="light">{{this}}</p>
            {{/each}}
          </div>
        </div>
      </div>

      <!-- Profiles -->
      <div class="row">
        <div class="col s6 m5">
          <h5 class="right">Profiles</h5>
        </div>
        <div class="col s6 m7">
          <div class="icon-block cv-list">
            <p><a class="light" href="{{person.links.0.linkedin}}" target="_blank">LinkedIn</a></p>
            <p><a class="light" href="{{person.links.0.github}}" target="_blank">Github</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var parallax = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(parallax);
  });
</script>